* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
  outline-color: var(--color-hover2);
  transition: all 0.5s ease-in-out;
}

//GLOBALES

body {
  background: var(--color-fondo);
  font-family: var(--fuente-principal);
}

.margin-0 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 120px;
  }
}

h2 {
  font-size: 1.1rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.8rem;
  font-weight: 600;
}
img {
  max-width: 100%;
}
img:hover {
  transform: scale(1.2);
}
.contenedor {
  height: 100%;
  width: 88%;
  padding: 15px 0;
  margin: 0 auto;
}
.oculto {
  display: none;
}
h1,
h3,
h2 {
  color: var(--color-titulos);
}

//CONTENEDOR-IMAGEN-HERO

//FUENTES Y COLORES
:root {
  --fuente-principal: "Raleway", sans-serif;
  --color-fondo: #f4f4f4;
  --color-titulos: #3c3b3b;
  --color-textos: #8b8b8b;
  --color-hover: #00ffef;
  --color-hover2: #59eedf;
}
//BOTONES

.btn {
  background: none;
  border: 1px solid rgb(201, 201, 201);
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 0.75rem;
  max-width: 400px;
}
.btn:hover {
  background: var(--color-titulos);
  border: 1px solid var(--color-hover2);
  color: var(--color-hover2);
  cursor: pointer;
}
.disabled {
  color: var(--color-textos);
  outline: none;
}
.disabled:hover {
  border: 1px solid rgb(201, 201, 201);
  background: none;
  color: var(--color-textos);
  cursor: default;
}

//MIXINS

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin background($size, $repeat, $position) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

//INICIO HEADER

.header-principal {
  width: 100%;
  padding-bottom: 30px;
}
.navegacion-header {
  z-index: 99999;
  position: fixed;
  background: white;
  border-bottom: 1px solid rgb(201, 201, 201);
  width: 100%;
  height: 55px;
  min-height: 5vh;
  @include flexbox(row, space-between, flex-start);
  .contenedor-logo {
    max-width: 230px;
    width: 82%;
    height: 100%;
    @include flexbox(row, flex-start, center);
    span {
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 4px;
      margin-left: 15px;
      font-weight: bold;
    }
  }

  .contenedor-hamburguesa {
    max-width: 75px;
    width: 18%;
    height: 100%;
    @include flexbox(column, center, center);
    border-left: 1px solid rgb(201, 201, 201);
    .hamburguesa {
      width: 15px;
      height: 3px;
      margin: 1px;
      background: var(--color-textos);
    }
  }
  .contenedor-hamburguesa:hover .hamburguesa {
    background-color: var(--color-hover2);
  }
  .contenedor-ul {
    width: 400px;
    height: 100%;
    ul {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      list-style: none;
      li {
        flex: 1;
        @include flexbox(row, center, center);
        height: 100%;
      }

      a {
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        color: var(--color-textos);
        text-align: center;
        border-left: 1px solid rgb(201, 201, 201);
      }
      .primer-link {
        border: none;
      }
    }
  }
}
.hero {
  width: 100%;
  height: 350px;
  @include flexbox(row, center, center);
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
}
.imagen-hero {
  width: 100%;
  height: 100px;
  @include flexbox(column, center, center);
  img {
    width: 80px;
    color: white;
    background: white;
    transform: rotate(1deg);
  }
}
.titulo-principal {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  @include flexbox(row, center, center);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
}

.descripcion-hero {
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7rem;
  line-height: 25px;
  color: var(--color-textos);
}
@media (min-width: 768px) {
  .contenedor-logo {
    border-right: 1px solid rgb(201, 201, 201);
  }

  .oculto {
    display: flex;
  }
}

//INICIO MEDIA QUERYS HEADER

@media (min-width: 425px) {
  .hero {
    .contenedor {
      padding-bottom: 0;
    }
  }
  .header-principal {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .titulo-principal {
    margin-bottom: 30px;
    font-size: 1.8rem;
    letter-spacing: 8px;
  }
}

//INICIO CONTENIDO PRINCIPAL

.blogs-principales {
  width: 100%;
  @include flexbox(column, center, center);
}
.carta-blog {
  padding: 15px 0;
  background: white;
  margin: 0 0 40px;
  .contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.contenedor-titulo-subtitulo {
  @include flexbox(column, center, center);
  flex-basis: 100%;
  padding: 20px 0;
}
.titulos-internos {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  line-height: 30px;
  margin: 15px 0 5px;
}
.titulos-internos:hover {
  color: var(--color-hover2);
  cursor: pointer;
}
.subtitulo-internos {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--color-textos);
}
.contenedor-fecha-imagen {
  flex-basis: 100%;
  @include flexbox(column, center, center);
}
.fecha-blog {
  flex-basis: 100%;
  margin: 25px 0 15px;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  @include flexbox(row, center, center);
}
.mini-imagen-blog-contenedor {
  flex-basis: 100%;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
}
.mini-imagen-blog {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../images/cara1.png);
  @include background(cover, no-repeat, center);
}
.imagen-principal-carta {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.img-01,
.img-02,
.img-03 {
  width: 100%;
  height: 100%;

  transition: transform 0.3s ease-in-out;
}
.imagen-principal-carta:hover div {
  transform: scale(1.2);
}

//BACKGROUNDS CARTAS PRINCIPALES
.img-01 {
  background: url(../images/adventure-calm-clouds-dawn-414171.jpg);
  @include background(cover, no-repeat, center);
}
.img-02 {
  background: url(../images/daylight-forest-glossy-lake-443446.jpg);
  @include background(cover, no-repeat, center);
}
.img-03 {
  background: url(../images/landscape-mountains-nature-sky-129105.jpg);
  @include background(cover, no-repeat, center);
}

.descripcion-carta {
  text-align: left;
  line-height: 28px;
  font-size: 0.9rem;
  width: 95%;
  margin: 15px 0 25px;
  color: var(--color-textos);
}
.datos-boton {
  width: 100%;
  @include flexbox(row, center, center);
  margin: 25px 0;
  flex-wrap: wrap;
  .btn {
    width: 95%;
  }
}
.datos-carta {
  color: #b9b9b9;
  flex-basis: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
  .datos {
    height: 50%;
    width: 40%;
    @include flexbox(row, flex-end, center);
    padding: 0 15px;
    p {
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 1px;
    }
  }

  .datos-chico {
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    width: 25%;
    max-width: 90px;
    justify-content: center;
    p {
      justify-content: center;
    }
  }
  .datos-derecha {
    justify-content: flex-start;
    text-align: left;
  }
  .datos-chico,
  .datos-derecha {
    i {
      @include flexbox(row, center, center);
      font-size: 0.8rem;
      width: 25px;
    }
    p {
      display: flex;
      align-items: center;
    }
  }
}

//INICIO QUERYS CONTENIDO PRINCIPAL

@media (min-width: 480px) {
  .contenedor-fecha-imagen {
    flex-direction: row;
    padding-bottom: 15px;
  }
  .fecha-blog {
    height: 40px;
    margin: 30px 0 30px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
  }
  .mini-imagen-blog-contenedor {
    margin: 30px 0 30px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    .oculto {
      display: block;
      text-transform: uppercase;
      font-size: 0.7rem;
      color: var(--color-textos);
      letter-spacing: 2px;
      margin: 0 10px;
    }
  }
  .imagen-principal-carta {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .titulos-internos {
    font-size: 1.5rem;
  }
}
@media (min-width: 950px) {
  .carta-blog {
    border: 1px solid rgb(201, 201, 201);
    width: 90%;
    margin: 0 auto 40px;
    padding: 40px 40px;
    .contenedor {
      width: 100%;
      padding: 0 0 20px;
      border-bottom: 1px solid rgb(201, 201, 201);
      margin-bottom: 45px;
    }
    .descripcion-carta {
      margin: 30px 0;
      line-height: 35px;
    }
    .datos-boton {
      flex-direction: row-reverse;
    }
    .datos-carta {
      flex-basis: 48%;
      align-items: center;
      margin-bottom: 0px;
    }
  }
  .contenedor-titulo-subtitulo {
    flex-basis: 70%;
    align-items: flex-start;
    .titulos-internos {
      text-align: left;
    }
    .subtitulo-internos {
      padding-left: 0;
      text-align: left;
    }
  }
  .contenedor-fecha-imagen {
    flex-basis: 30%;
    height: 160px;
    flex-direction: column;
    align-items: flex-end;
    border-left: 1px solid rgb(201, 201, 201);
    .fecha-blog {
      margin: 0;
      height: 5px;
      font-weight: 800;
      letter-spacing: 3px;
      color: var(--color-titulos);
      padding: 0 0 15px;
      align-items: flex-end;
    }
    .mini-imagen-blog-contenedor {
      margin: 0;
      flex-direction: row-reverse;
      align-items: flex-start;
      padding: 0;
      .oculto {
        margin-top: 15px;
      }
    }
  }
}

//INICIO SECCION BOTONES

.botones-secciones {
  width: 100%;
  .contenedor {
    @include flexbox(column, center, center);
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(201, 201, 201);
    .btn {
      width: 95%;
      margin-bottom: 15px;
    }
  }
}

//INICIO SECCION OTROS BLOGS
.float-izquierda-desktop {
  .hero {
    display: none;
  }
}

.otros-blogs {
  padding: 40px 0 0;
  .contenedor {
    border-bottom: 1px solid rgb(201, 201, 201);
    max-width: 600px;
  }
}
.carta-otros-blogs {
  border: 1px solid rgb(201, 201, 201);
  width: 100%;
  margin: 0 auto 40px;
  background: white;

  .otros-blogs-imagen {
    width: 100%;
    height: 200px;
  }

  //BACKGROUND OTROS-BLOGS DIVS
  .img-medium-01 {
    background: url(../images/images-medium/beautiful-calm-clouds-dark-206359.jpg);
    @include background(cover, no-repeat, center);
  }
  .img-medium-02 {
    background: url(../images/images-medium/green-leafed-tree-besides-body-of-water-during-daytime-158063.jpg);
    @include background(cover, no-repeat, center);
  }
  .img-medium-03 {
    background: url(../images/images-medium/landscape-photography-of-mountains-covered-in-snow-691668.jpg);
    @include background(cover, no-repeat, center);
  }
  .img-medium-04 {
    background: url(../images/images-medium/panoramic-view-of-sea-against-blue-sky-248771.jpg);
    @include background(cover, no-repeat, center);
  }

  .otros-blogs-contenido {
    width: 100%;
    height: 100px;
    display: flex;
  }
  .otros-blogs-descripcion {
    width: 70%;
    max-width: 300px;
    height: 100%;
    padding: 0 5px;
    @include flexbox(column, flex-end, center);
    h3 {
      width: 100%;
      height: 45%;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.75rem;
      line-height: 17px;
      padding: 3px 8px;
    }
    time {
      width: 100%;
      padding: 0 8px;
      height: 40%;
      font-size: 0.77rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-textos);
    }
  }
  .otros-blogs-mini-imagen {
    background: url(../images/cara1.png);
    @include background(cover, no-repeat, center);
    width: 40px;
    height: 40px;
    margin: 15px 20px 15px auto;
    border-radius: 50%;
  }
}

.blogs-off-topic {
  padding: 20px 0;
}
.off-topic-carta {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  height: 130px;
  display: flex;
  border-bottom: 1px solid rgb(201, 201, 201);
  .off-topic-imagen {
    width: 65px;
    height: 70px;
  }
  .img-off-01 {
    background: url(../images/images-small/human-eye-painting-948620.jpg);
    @include background(cover, no-repeat, center);
  }
  .img-off-02 {
    background: url(../images/images-small/pink-petaled-flower-on-light-blue-surface-1037997.jpg);
    @include background(cover, no-repeat, center);
  }
  .img-off-03 {
    background: url(../images/images-small/spring-book-with-feather-sketch-826114.jpg);
    @include background(cover, no-repeat, center);
  }
  .img-off-04 {
    background: url(../images/images-small/white-headphones-1037999.jpg);
    @include background(cover, no-repeat, center);
  }
  .img-off-05 {
    background: url(../images/images-small/three-paintings-hanging-in-gallery-1674049.jpg);
    @include background(cover, no-repeat, center);
  }

  .off-topic-descripcion {
    padding: 0px 0px 5px 20px;
    width: 75%;
    height: 100%;
    h3 {
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 0.68rem;
      line-height: 19px;
      margin-bottom: 5px;
      font-weight: 900;
    }
    time {
      width: 100%;
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-textos);
    }
  }
}
.about {
  .contenedor {
    @include flexbox(column, center, center);
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(201, 201, 201);
    max-width: 600px;
  }
  h3 {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8rem;
    line-height: 19px;
    margin-bottom: 25px;
    font-weight: 900;
  }
  p {
    width: 100%;
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-textos);
    line-height: 25px;
    margin-bottom: 25px;
  }
  .btn {
    width: 90%;
    margin: 0 auto;
  }
}
footer {
  .redes-sociales {
    max-width: 300px;
    width: 60%;
    height: 50px;
    @include flexbox(row, center, center);
    margin: 20px 0;
    i {
      flex: 1;
      height: 100%;
      @include flexbox(row, center, center);
      color: var(--color-textos);
    }
  }
  .copy {
    p {
      width: 80%;
      font-size: 0.65rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-textos);
      line-height: 25px;
      margin-bottom: 25px;
      word-spacing: 5px;
    }
  }
}

//CAMBIO DE LAYOUT EN 1024PX

@media (min-width: 1100px) {
  .hero {
    display: none;
  }
  .contenedor-1024px {
    padding: 150px 0 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .float-izquierda-desktop {
    .hero {
      @include flexbox(row, center, center);
      height: 250px;
      .contenedor {
        padding-top: 0;
        .titulo-principal {
          height: 100px;
          margin-bottom: 0;
        }
      }
    }
    width: 55%;
  }
}

//MENU DESPLEGABLE

.menu-desplegable {
  position: absolute;
  height: 100vh;
  width: 100%;
  right: -200%;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s ease-in-out;
}
.menu-fuera {
  width: 100%;
  height: 100vh;
}
.menu-dentro {
  width: 80%;
  min-width: 250px;
  max-width: 400px;
  height: 100vh;
  background: white;
  border-left: 1px solid rgb(201, 201, 201);

  .busqueda {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(201, 201, 201);
    .contenedor {
      @include flexbox(row, center, center);
    }
    .search {
      width: 90%;
      height: 40px;
      font-family: "Raleway", "Font Awesome 5 Free";
      font-weight: 600;
      padding: 0 5px;
      letter-spacing: 1px;
      background: var(--color-fondo);
      border: 1px solid rgb(201, 201, 201);
    }
  }
  .blogs {
    width: 100%;
    height: 120px;
    text-transform: uppercase;
    padding: 5px 0 0;
    .contenedor {
      border-bottom: 1px solid rgb(201, 201, 201);
    }
    .sin-border {
      border-bottom: none;
    }
    h3 {
      font-size: 0.77rem;
      width: 100%;
      letter-spacing: 2.5px;
      line-height: 15px;
      font-weight: 900;
      color: var(--color-titulos);
    }
    p {
      font-size: 0.65rem;
      width: 100%;
      margin-top: 10px;
      line-height: 20px;
      letter-spacing: 1px;
      color: var(--color-textos);
    }
  }
  .logueo {
    border-top: 1px solid rgb(201, 201, 201);
    width: 100%;
    height: 110px;
    @include flexbox(row, center, center);
    .btn {
      width: 90%;
      max-width: 250px;
    }
  }
}
